.flag-sprite-map {
  background-image: url(../../../public/flag-sprite.png);
  background-repeat: no-repeat;
  background-size: 100% 49494%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  box-sizing: content-box;
}
.flag-sprite-map-CH,
.flag-sprite-map-NP {box-shadow: none!important}
.flag-sprite-map-DZ {background-position:center 0.2287%}
.flag-sprite-map-AO {background-position:center 0.4524%}
.flag-sprite-map-BJ {background-position:center 0.6721%}
.flag-sprite-map-BW {background-position:center 0.8958%}
.flag-sprite-map-BF {background-position:center 1.1162%}
.flag-sprite-map-BI {background-position:center 1.3379%}
.flag-sprite-map-CM {background-position:center 1.5589%}
.flag-sprite-map-CV {background-position:center 1.7805%}
.flag-sprite-map-CF {background-position:center 2.0047%}
.flag-sprite-map-TD {background-position:center 2.2247%}
.flag-sprite-map-CD {background-position:left 2.4467%}
.flag-sprite-map-DJ {background-position:left 2.6674%}
.flag-sprite-map-EG {background-position:center 2.8931%}
.flag-sprite-map-GQ {background-position:center 3.1125%}
.flag-sprite-map-ER {background-position:left 3.3325%}
.flag-sprite-map-ET {background-position:center 3.5542%}
.flag-sprite-map-GA {background-position:center 3.7759%}
.flag-sprite-map-GM {background-position:center 4.0015%}
.flag-sprite-map-GH {background-position:center 4.2229%}
.flag-sprite-map-GN {background-position:center 4.441%}
.flag-sprite-map-GW {background-position:left 4.66663%}
.flag-sprite-map-CI {background-position:center 4.8844%}
.flag-sprite-map-KE {background-position:center 5.1061%}
.flag-sprite-map-LS {background-position:center 5.3298%}
.flag-sprite-map-LR {background-position:left 5.5495%}
.flag-sprite-map-LY {background-position:center 5.7712%}
.flag-sprite-map-MG {background-position:center 5.994%}
.flag-sprite-map-MW {background-position:center 6.2156%}
.flag-sprite-map-ML {background-position:center 6.4363%}
.flag-sprite-map-MR {background-position:center 6.658%}
.flag-sprite-map-MU {background-position:center 6.8805%}
.flag-sprite-map-YT {background-position:center 7.1038%}
.flag-sprite-map-MA {background-position:center 7.3231%}
.flag-sprite-map-MZ {background-position:left 7.5448%}
.flag-sprite-map-NA {background-position:left 7.7661%}
.flag-sprite-map-NE {background-position:center 7.98937%}
.flag-sprite-map-NG {background-position:center 8.2099%}
.flag-sprite-map-CG {background-position:center 8.4316%}
.flag-sprite-map-RE {background-position:center 8.6533%}
.flag-sprite-map-RW {background-position:right 8.875%}
.flag-sprite-map-SH {background-position:center 9.0967%}
.flag-sprite-map-ST {background-position:center 9.32237%}
.flag-sprite-map-SN {background-position:center 9.5426%}
.flag-sprite-map-SC {background-position:left 9.7628%}
.flag-sprite-map-SL {background-position:center 9.9845%}
.flag-sprite-map-SO {background-position:center 10.2052%}
.flag-sprite-map-ZA {background-position:left 10.4269%}
.flag-sprite-map-SS {background-position:left 10.6486%}
.flag-sprite-map-SD {background-position:center 10.8703%}
.flag-sprite-map-SR {background-position:center 11.0945%}
.flag-sprite-map-SZ {background-position:center 11.3135%}
.flag-sprite-map-TG {background-position:left 11.5354%}
.flag-sprite-map-TN {background-position:center 11.7593%}
.flag-sprite-map-UG {background-position:center 11.9799%}
.flag-sprite-map-TZ {background-position:center 12.2005%}
.flag-sprite-map-EH {background-position:center 12.4222%}
.flag-sprite-map-YE {background-position:center 12.644%}
.flag-sprite-map-ZM {background-position:center 12.8664%}
.flag-sprite-map-ZW {background-position:left 13.0873%}
.flag-sprite-map-AI {background-position:center 13.309%}
.flag-sprite-map-AG {background-position:center 13.5307%}
.flag-sprite-map-AR {background-position:center 13.7524%}
.flag-sprite-map-AW {background-position:left 13.9741%}
.flag-sprite-map-BS {background-position:left 14.1958%}
.flag-sprite-map-BB {background-position:center 14.4175%}
.flag-sprite-map-BQ {background-position:center 14.6415%}
.flag-sprite-map-BZ {background-position:center 14.8609%}
.flag-sprite-map-BM {background-position:center 15.0826%}
.flag-sprite-map-BO {background-position:center 15.306%}
.flag-sprite-map-VG {background-position:center 15.528%}
.flag-sprite-map-BR {background-position:center 15.7496%}
.flag-sprite-map-CA {background-position:center 15.9694%}
.flag-sprite-map-KY {background-position:center 16.1911%}
.flag-sprite-map-CL {background-position:left 16.4128%}
.flag-sprite-map-CO {background-position:left 16.6345%}
.flag-sprite-map-KM {background-position:center 16.8562%}
.flag-sprite-map-CR {background-position:center 17.0779%}
.flag-sprite-map-CU {background-position:left 17.2996%}
.flag-sprite-map-CW {background-position:center 17.5213%}
.flag-sprite-map-DM {background-position:center 17.743%}
.flag-sprite-map-DO {background-position:center 17.968%}
.flag-sprite-map-EC {background-position:center 18.1864%}
.flag-sprite-map-SV {background-position:center 18.4081%}
.flag-sprite-map-FK {background-position:center 18.6298%}
.flag-sprite-map-GF {background-position:center 18.8515%}
.flag-sprite-map-GL {background-position:left 19.0732%}
.flag-sprite-map-GD {background-position:center 19.2987%}
.flag-sprite-map-GP {background-position:center 19.518%}
.flag-sprite-map-GT {background-position:center 19.7383%}
.flag-sprite-map-GY {background-position:center 19.96%}
.flag-sprite-map-HT {background-position:center 20.1817%}
.flag-sprite-map-HN {background-position:center 20.4034%}
.flag-sprite-map-JM {background-position:center 20.6241%}
.flag-sprite-map-MQ {background-position:center 20.8468%}
.flag-sprite-map-MX {background-position:center 21.0685%}
.flag-sprite-map-MS {background-position:center 21.2902%}
.flag-sprite-map-NI {background-position:center 21.5119%}
.flag-sprite-map-PA {background-position:center 21.7336%}
.flag-sprite-map-PY {background-position:center 21.9553%}
.flag-sprite-map-PE {background-position:center 22.177%}
.flag-sprite-map-PR {background-position:left 22.4002%}
.flag-sprite-map-BL {background-position:center 22.6204%}
.flag-sprite-map-KN {background-position:center 22.8421%}
.flag-sprite-map-LC {background-position:center 23.0638%}
.flag-sprite-map-PM {background-position:center 23.2855%}
.flag-sprite-map-VC {background-position:center 23.5072%}
.flag-sprite-map-SX {background-position:left 23.732%}
.flag-sprite-map-TT {background-position:center 23.9506%}
.flag-sprite-map-TC {background-position:center 24.1723%}
.flag-sprite-map-US {background-position:center 24.392%}
.flag-sprite-map-VI {background-position:center 24.6157%}
.flag-sprite-map-UY {background-position:left 24.8374%}
.flag-sprite-map-VE {background-position:center 25.0591%}
.flag-sprite-map-AB {background-position:center 25.279%}
.flag-sprite-map-AF {background-position:center 25.5025%}
.flag-sprite-map-AZ {background-position:center 25.7242%}
.flag-sprite-map-BD {background-position:center 25.9459%}
.flag-sprite-map-BT {background-position:center 26.1676%}
.flag-sprite-map-BN {background-position:center 26.3885%}
.flag-sprite-map-KH {background-position:center 26.611%}
.flag-sprite-map-CN {background-position:left 26.8327%}
.flag-sprite-map-GE {background-position:center 27.0544%}
.flag-sprite-map-HK {background-position:center 27.2761%}
.flag-sprite-map-IN {background-position:center 27.4978%}
.flag-sprite-map-ID {background-position:center 27.7195%}
.flag-sprite-map-JP {background-position:center 27.9412%}
.flag-sprite-map-KZ {background-position:center 28.1615%}
.flag-sprite-map-LA {background-position:center 28.3846%}
.flag-sprite-map-MO {background-position:center 28.6063%}
.flag-sprite-map-MY {background-position:center 28.829%}
.flag-sprite-map-MV {background-position:center 29.0497%}
.flag-sprite-map-MN {background-position:left 29.2714%}
.flag-sprite-map-MM {background-position:center 29.4931%}
.flag-sprite-map-NP {background-position:left 29.7148%}
.flag-sprite-map-KP {background-position:left 29.9365%}
.flag-sprite-map-MP {background-position:center 30.1582%}
.flag-sprite-map-PW {background-position:center 30.3799%}
.flag-sprite-map-PG {background-position:center 30.6016%}
.flag-sprite-map-PH {background-position:left 30.8233%}
.flag-sprite-map-SG {background-position:left 31.045%}
.flag-sprite-map-KR {background-position:center 31.2667%}
.flag-sprite-map-LK {background-position:right 31.4884%}
.flag-sprite-map-TW {background-position:left 31.7101%}
.flag-sprite-map-TJ {background-position:center 31.9318%}
.flag-sprite-map-TH {background-position:center 32.1535%}
.flag-sprite-map-TL {background-position:left 32.3752%}
.flag-sprite-map-TM {background-position:center 32.5969%}
.flag-sprite-map-VN {background-position:center 32.8186%}
.flag-sprite-map-AX {background-position:center 33.0403%}
.flag-sprite-map-AL {background-position:center 33.25975%}
.flag-sprite-map-AD {background-position:center 33.4837%}
.flag-sprite-map-AM {background-position:center 33.7054%}
.flag-sprite-map-AT {background-position:center 33.9271%}
.flag-sprite-map-BY {background-position:left 34.1488%}
.flag-sprite-map-BE {background-position:center 34.3705%}
.flag-sprite-map-BA {background-position:center 34.5922%}
.flag-sprite-map-BG {background-position:center 34.8139%}
.flag-sprite-map-HR {background-position:center 35.0356%}
.flag-sprite-map-CY {background-position:center 35.2555%}
.flag-sprite-map-CZ {background-position:left 35.479%}
.flag-sprite-map-DK {background-position:center 35.7007%}
.flag-sprite-map-EE {background-position:center 35.9224%}
.flag-sprite-map-FO {background-position:center 36.1441%}
.flag-sprite-map-FI {background-position:center 36.3658%}
.flag-sprite-map-FR {background-position:center 36.5875%}
.flag-sprite-map-DE {background-position:center 36.8092%}
.flag-sprite-map-GI {background-position:center 37.0309%}
.flag-sprite-map-GR {background-position:left 37.2526%}
.flag-sprite-map-GG {background-position:center 37.4743%}
.flag-sprite-map-HU {background-position:center 37.696%}
.flag-sprite-map-IS {background-position:center 37.9177%}
.flag-sprite-map-IE {background-position:center 38.1394%}
.flag-sprite-map-IM {background-position:center 38.3611%}
.flag-sprite-map-IT {background-position:center 38.5828%}
.flag-sprite-map-JE {background-position:center 38.8045%}
.flag-sprite-map-XK {background-position:center 39.0262%}
.flag-sprite-map-LV {background-position:center 39.2479%}
.flag-sprite-map-LI {background-position:left 39.4696%}
.flag-sprite-map-LT {background-position:center 39.6913%}
.flag-sprite-map-LU {background-position:center 39.913%}
.flag-sprite-map-MT {background-position:left 40.1347%}
.flag-sprite-map-MD {background-position:center 40.3564%}
.flag-sprite-map-MC {background-position:center 40.5781%}
.flag-sprite-map-ME {background-position:center 40.7998%}
.flag-sprite-map-NL {background-position:center 41.0215%}
.flag-sprite-map-MK {background-position:center 41.2432%}
.flag-sprite-map-NO {background-position:center 41.4649%}
.flag-sprite-map-PL {background-position:center 41.6866%}
.flag-sprite-map-PT {background-position:center 41.9083%}
.flag-sprite-map-RO {background-position:center 42.13%}
.flag-sprite-map-RU {background-position:center 42.3517%}
.flag-sprite-map-SM {background-position:center 42.5734%}
.flag-sprite-map-RS {background-position:center 42.7951%}
.flag-sprite-map-SK {background-position:center 43.0168%}
.flag-sprite-map-SI {background-position:center 43.2385%}
.flag-sprite-map-ES {background-position:left 43.4602%}
.flag-sprite-map-SE {background-position:center 43.6819%}
.flag-sprite-map-CH {background-position:center 43.9036%}
.flag-sprite-map-TR {background-position:center 44.1253%}
.flag-sprite-map-UA {background-position:center 44.347%}
.flag-sprite-map-GB {background-position:center 44.5687%}
.flag-sprite-map-VA {background-position:right 44.7904%}
.flag-sprite-map-BH {background-position:center 45.0121%}
.flag-sprite-map-IR {background-position:center 45.2338%}
.flag-sprite-map-IQ {background-position:center 45.4555%}
.flag-sprite-map-IL {background-position:center 45.6772%}
.flag-sprite-map-KW {background-position:left 45.897%}
.flag-sprite-map-JO {background-position:left 46.1206%}
.flag-sprite-map-KG {background-position:center 46.3423%}
.flag-sprite-map-LB {background-position:center 46.561%}
.flag-sprite-map-OM {background-position:left 46.7857%}
.flag-sprite-map-PK {background-position:center 47.0074%}
.flag-sprite-map-PS {background-position:center 47.2291%}
.flag-sprite-map-QA {background-position:center 47.4508%}
.flag-sprite-map-SA {background-position:center 47.6725%}
.flag-sprite-map-SY {background-position:center 47.8942%}
.flag-sprite-map-AE {background-position:center 48.1159%}
.flag-sprite-map-UZ {background-position:left 48.3376%}
.flag-sprite-map-AS {background-position:right 48.5593%}
.flag-sprite-map-AU {background-position:center 48.781%}
.flag-sprite-map-CX {background-position:center 49.002%}
.flag-sprite-map-CC {background-position:center 49.2244%}
.flag-sprite-map-CK {background-position:center 49.4445%}
.flag-sprite-map-FJ {background-position:center 49.6678%}
.flag-sprite-map-PF {background-position:center 49.8895%}
.flag-sprite-map-GU {background-position:center 50.1112%}
.flag-sprite-map-KI {background-position:center 50.3329%}
.flag-sprite-map-MH {background-position:left 50.5546%}
.flag-sprite-map-FM {background-position:center 50.7763%}
.flag-sprite-map-NC {background-position:center 50.998%}
.flag-sprite-map-NZ {background-position:center 51.2197%}
.flag-sprite-map-NR {background-position:left 51.4414%}
.flag-sprite-map-NU {background-position:center 51.6631%}
.flag-sprite-map-NF {background-position:center 51.8848%}
.flag-sprite-map-WS {background-position:left 52.1065%}
.flag-sprite-map-SB {background-position:left 52.3282%}
.flag-sprite-map-TK {background-position:center 52.5499%}
.flag-sprite-map-TO {background-position:left 52.7716%}
.flag-sprite-map-TV {background-position:center 52.9933%}
.flag-sprite-map-VU {background-position:left 53.215%}
.flag-sprite-map-WF {background-position:center 53.4385%}
.flag-sprite-map-TD.ff-round,
.flag-sprite-map-GN.ff-round,
.flag-sprite-map-CI.ff-round,
.flag-sprite-map-ML.ff-round,
.flag-sprite-map-NG.ff-round,
.flag-sprite-map-BE.ff-round,
.flag-sprite-map-FR.ff-round,
.flag-sprite-map-IE.ff-round,
.flag-sprite-map-IT.ff-round,
.flag-sprite-map-RO.ff-round {background-size:100%  50000%}

.flag-sprite-map.ff-sm {width: 18px;height: 11px}
.flag-sprite-map.ff-md {width: 27px;height: 17px}
.flag-sprite-map.ff-lg {width: 42px;height: 27px}
.flag-sprite-map.ff-xl {width: 60px;height: 37px}

/* ff-round = circular icons */
.ff-round {
	background-size: 160%;
	background-clip: content-box;
	border-radius: 50%;
}
.ff-round.ff-sm {width: 12px; height: 12px}
.ff-round.ff-md {width: 18px; height: 18px}
.ff-round.ff-lg {width: 24px; height: 24px}
.ff-round.ff-xl {width: 32px; height: 32px}
