.rc-number-stepper {
  position: relative;

  display: flex;

  .v-container {
    padding: 0px;
  }

  .rc-ns-col-input {
    flex: 0 0 13.25rem;
  }

  .rc-ns-col-actions {
    display: flex;
    flex: 1;
    justify-content: flex-start; /* Distribute buttons evenly */
    align-items: center;
  }


  .v-btn {
    max-width: 3.5rem;
    height: 100%;
    flex-grow: 1;
    padding: 0;

    border: 1px solid rgb(var(--v-theme-grey-500));

    &.minus {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    &.plus {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .rc-text-field {
    .v-field__outline__end {
      // border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
