.v-expansion-panels.v-expansion-panels--flat {
  margin-bottom: 1rem;
  border: 1px solid rgb(var(--v-theme-grey-400));
  border-radius: 0.25rem;

  .v-expansion-panel-title {
    height: 72px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    &.no-hover {
      .v-expansion-panel-title__overlay {
        background-color: inherit;
      }
    }

    &__icon {
      display: none;
    }
  }

  .v-expansion-panel-text {
    &__wrapper {
      padding: 2.25rem 2rem;
    }
  }

  .v-expansion-panel--active {
    .v-expansion-panel-title {
      border-bottom: 1px solid rgb(var(--v-theme-grey-200));
    }
  }


}