@use '../../../../styles/settings';

.rc-field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .rc-field-labels {
    width: auto;
    text-align: left;
    margin: 0 0 0.3rem 0;
  }

  label {
    display: block;
    line-height: 1rem;
  }

  .text-subtitle-2 {
    color: rgb(var(--v-theme-grey-600));
    font-style: italic;
  }

  @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
    flex-direction: row;
    align-items: center;

    .rc-field-labels {
      width: 243px;
      text-align: right;
      margin: 0 1.5rem 0 0;

    }
  }
}
