@use 'variables' as var;

$typography: (
  'h1': (
    'size': 2.25rem, // 36px
    'weight': 500,
    'line-height': 3.0375,
  ),
  'h2': (
    'size': 2rem, // 32px
    'weight': 500,
    'line-height': 2.7,
  ),
  'h3': (
    'size': 1.75rem, // 28px
    'weight': 500,
    'line-height': 2.3625,
  ),
  'h4': (
    'size': 1.5rem, // 24px
    'weight': 500,
    'line-height': 2.025,
  ),
  'h5': (
    'size': 1.25rem, // 20px
    'weight': 500,
    'line-height': 1.6875,
  ),
  'h6': (
    'size': 1.125rem, // 18px
    'weight': 500,
    'line-height': 1.51875,
  ),
  'body-1': (
    'size': 1rem,  // 16px
    'line-height': 1.2,
    'weight': 400,
  ),
  'body-2': (
    'size': 0.9375rem, // 15px
    'line-height': 1.125rem,
    'weight': 400,
  ),
  'subtitle-1': (
    'size': 0.875rem,  // 14px
    'line-height': 1.05rem,
    'weight': 400,
  ),
  'subtitle-2': (
    'size': 0.75rem, // 12px
    'line-height': 0.9rem,
    'weight': 400,
  ),
  'button': (
    'size': 0.9375rem,
    'text-transform': capitalize,
  ),
);
