/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@use 'typography' as *;

@forward 'vuetify/settings' with (
  $layers: true,

  $body-font-family: 'Public Sans',
  $border-radius-root: 3px,

  $typography: $typography,
);

@import './shared/index';