/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@use 'typography' as *;

@forward 'vuetify/settings' with (
  $layers: true,

  $body-font-family: 'Public Sans',
  // $border-radius-root: 0px,

  $typography: $typography,
);


.focus-with-outline {
  &:focus::before {
    content: "";
    position: absolute;
    background: transparent;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 0.375rem;
    border: 2px solid black;
    left: -4px;
    top: -4px;
    z-index: 1;
  }
}